---
layout: page
title: Reality Media
image:
  feature: realitymedia-title-image.jpg
bgContrast: dark
bgGradientOpacity: darker
syntaxHighlighter: no
sidebar: false
permalink: /index-not-logged-in.html
  
---
<div class="logged-in"><h4><em>Development of the Immersive version of the book is behind due to pandemic-related delays, but some spaces are available.
  Additional content will be added through mid-2022.</em></h4>
</div>
  <p></p>
    <div class="right-side">
      <a class="exlink" href="https://mitpress.mit.edu/books/reality-media"><img src="{{ site.baseurl_book_img }}/mit-press-image.png" style="width: 100%" ></img></a>
    </div>

    <p>
      This digital version of <i>Reality Media</i> is a complement to the printed book (shown to the right). The digital version has both 2D and 3D forms.
      The 2D and 3D sites are organized as a collection of galleries; in the 2D site these are pages, and in the 3D site they are 3D spaces that allow you to get inside AR and VR—to inhabit these new reality media. Each of the 2D pages has a corresponding immersive 3D gallery space.
    </p>
<!--
      <p>
        Here is a video preview of one of the 3D immersive galleries (a virtual Acropolis), to give you an idea of how it works:
      </p>
      <p>
        <div style="width:100%;height:0px;position:relative;padding-bottom:51.446%;"><iframe src="https://streamable.com/e/c4oso2" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
      </p>
    </div> 
-->

      <!--Below is the group of image blocks (3 rows/4colums) that link into the gallery web pages and another group below that for 
      extra information e.g. authors and credits-->
      <p>
      The <a class="exlink" href="/preface/">Preface</a> explains the concept behind the project and gives an overview of the structure of the 2D and 3D spaces, and how they relate to the chapters in the printed book.
    </p>
      <!-- <div class="blockGroup">
        <ul style="margin-bottom: 0;" class="blockGroup-list">
          {% assign chapters = site.chapters | sort: "order" %}
          {% for post in chapters %}
              {% if post.frontpagegroup == 0 %}
              <li class="block w100">
                {% include postbox.html post=post %}
              </li>
              {% endif %}
            {% endfor %}
        </ul>
      </div> -->

      <!-- <div style="width:35%; float: right;"> -->
        <div class="right-side">
        <img src="{{ site.baseurl_book_img }}/ch-preface/Map_transparent.png" style="width: 100%" >
        </div>

      <p>
        The immersive galleries of <em>RealityMedia</em> are organized around a central rotunda.  The rotunda contains an overview of each immersive gallery along with a portal to each gallery. The rotunda serves as an organizational hub and can be accessed from each of the immersive galleries.
      </p>
      <p>
        Links to the 2D galleries of <em>RealityMedia</em> are listed below. These pages provide context for your visit as well as links into the corresponding 3D galleries (the portal symbol <i class="fas fa-vr-cardboard"></i> indicates a link into a 3D gallery). 
      </p>
      <div class="logged-in">
      <p class="centered">We encourage you to enter the 3D galleries from the 2D pages below, but if you want to go directly to the 3D spaces, you should begin the 3D experience in the <a class="xrlink" room="0" waypoint="onboarding">Arrival Hall</a> onboarding area, through which you can access the Rotunda.</p>

      <p class="centered">After you are familiar with the experience you can go directly to the <a class="xrlink" room="0" waypoint="start">Rotunda</a>.
      </p>
    </div>
    <div class="not-logged-in">
      <p class="centered">
        Please remember that in order to enter the immersive 3D galleries yourself, you will need to first create an account and login. If you are not logged in, links to the 3D galleries will not work.
      </p>
    </div>

      <div class="blockGroup">
          <ul class="blockGroup-list">

              {% assign chapters = site.chapters | sort: "order" %}
              {% for post in chapters %}
                  {% if post.frontpagegroup == 1 %}
                  <li class="block">
                      {% include postbox.html post=post %}
                  </li>
                  {% endif %}
              {% endfor %}
          </ul>
      </div>

      <!-- <h4> Additional information</h4>
    <div class="blockGroup">
        <ul class="blockGroup-list">
    
            {% assign chapters = site.chapters | sort: "order" %}
            {% for post in chapters %}
            {% if post.frontpagegroup == 2 %}
            <li class="block w25">
              <div class="postArticle-wrapper">
                <article class="postArticle postArticle--short">
                  {% if post.image.feature %}
                    <a class="exlink" href="{{site.baseurl}}{{ post.url }}">
                      <div class="postArticle-image desaturate" style="background-image:url('{{ post.image.feature | prepend: "/" | prepend: site.baseurl_featured_img }}')">
                      </div>
                    </a>
                  {% else %}
                  <a class="exlink" href="{{site.baseurl}}{{ post.url }}">
                    <div class="postArticle-image" style="background-image:url('{{site.baseurl}}/assets/images/logo-black.svg')">
                    </div>
                  </a>
                  {% endif %}
                  <a class="exlink postArticle-title" href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                </article>
                <div class="block-postMeta">{{ post.chapter }}</div>
              </div>
            </li>
            {% endif %}
          {% endfor %}
      </ul>
        </div> -->
