---
layout: page
title: Reality Media
image:
  feature: realitymedia-title-image.jpg
bgContrast: dark
bgGradientOpacity: darker
syntaxHighlighter: no
sidebar: false
permalink: /index1.html
  
---

      <h4><em>You are invited to explore the web pages below.
         In the immersive (3D) version of the book, only the entry hall is currently open. Development is behind due to pandemic-related delays.
         Additional content will be added through the end of 2021 and early 2022.</em></h4>

         <p></p>
      <div class="right-side">
        <a href="https://mitpress.mit.edu/books/reality-media"><img src="{{ site.baseurl_book_img }}mit-press-image.png" style="width: 100%" ></img></a>
        </div>

        <p>
       This digital version of <i>Reality Media</i> is a complement to the printed book. The digital version takes two 
        forms: the 2D web pages you see here and an 3D immersive book, which allows you to get 
        inside AR and VR—to inhabit these new reality media.
    </p>

    

      <div class="blockGroup right-side">
        <ul style="margin-bottom: 0;" class="blockGroup-list">
          {% assign chapters = site.chapters | sort: "order" %}
          {% for post in chapters %}
              {% if post.frontpagegroup == 0 %}
              <li class="block w100">
                {% include postbox.html post=post %}
              </li>
              {% endif %}
            {% endfor %}
        </ul>
    </div>
    <p>The 2D and 3D sites are organized as a collection of galleries; in the 2D site, these are pages, and in the 3D site, they are 3D spaces. Each of the 2D gallery pages on this site has a corresponding immersive 3D gallery space in the immersive site. The Preface explains the concept behind the project.</p>

    <p>You can read any of the 2D gallery pages below by clicking on the appropriate image. These pages provide context for your visit as well as links into the corresponding 3D galleries (the portal symbol <i class="fas fa-vr-cardboard"></i> indicates a link into a 3D gallery). 
    </p>

    <div class="not-logged-in">
      <h4>Creating an Account and Signing In</h4>
      <p>
            In order to enter the immersive 3D galleries yourself, you will need to <a href="/notLoggedIn">create a (free) account and sign in</a>. If you are not signed in, all links to the immersive Galleries will point at the sign in page.
      </p>
      <p>Here is a video preview of one of these galleries (a virtual Acropolis):</p>
      <p>
        <div style="width:100%;height:0px;position:relative;padding-bottom:51.446%;"><iframe src="https://streamable.com/e/c4oso2" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
      </p>
    </div> 
    <div class="logged-in">
    <h4> The Gallery Pages and The Immersive Book</h4>
    <p> The 2D gallery web pages will continue to expand as the immersive site continues to be developed. While most of the immersive galleries are still being developed, you can visit one of two open immersive galleries right now:
    <ul>
      <li>the <a class="xrlink" room="0" waypoint="onboarding">Arrival Hall</a>, which explains 
          features of the immersive space and provides a brief tutorial. </li>
      <li> the <a class="xrlink" room="5" waypoint="start">Virtual Acropolis</a>, 
        which possesses a degree of digital aura, as discussed in the presence and aura page below</li>  
     </ul>
     Other galleries will be opening soon.  
    </p> 
    </div>
    <hr>
    <!--Below is the group of image blocks (3 rows/4colums) that link into the gallery web pages and another group below that for 
    extra information e.g. authors and credits-->
    <h4>The Galleries</h4>
    <div style="width:35%; float: right;">
        <img src="{{ site.baseurl_book_img }}ch-preface/Map_transparent.png" style="width: 100%" >
        </div>
    <p>The immersive galleries of <em>RealityMedia</em> are organized around a central rotunda that can be accessed from the <a class="xrlink" room="0" waypoint="onboarding">Arrival Hall</a> and contains an overview of each immersive gallery along with a portal to each gallery. The rotunda serves as an organizational hub and can be accessed from each of the immersive galleries.</p>

    <p>The 2D galleries of <em>RealityMedia</em> are listed below and contain links into different parts of their corresponding immersive gallery.</p>

    <div class="blockGroup">
        <ul class="blockGroup-list">

            {% assign chapters = site.chapters | sort: "order" %}
            {% for post in chapters %}
                {% if post.frontpagegroup == 1 %}
                <li class="block">
                    {% include postbox.html post=post %}
                </li>
                {% endif %}
            {% endfor %}
         </ul>
    </div>
    </div>
    <!-- <h4> Additional information</h4>
    <div class="blockGroup">
        <ul class="blockGroup-list">
    
            {% assign chapters = site.chapters | sort: "order" %}
            {% for post in chapters %}
            {% if post.frontpagegroup == 2 %}
            <li class="block w25">
              <div class="postArticle-wrapper">
                <article class="postArticle postArticle--short">
                  {% if post.image.feature %}
                    <a href="{{site.baseurl}}{{ post.url }}">
                      <div class="postArticle-image desaturate" style="background-image:url('{{ post.image.feature | prepend: site.baseurl_featured_img }}')">
                      </div>
                    </a>
                  {% else %}
                  <a href="{{site.baseurl}}{{ post.url }}">
                    <div class="postArticle-image" style="background-image:url('{{site.baseurl}}/assets/images/logo-black.svg')">
                    </div>
                  </a>
                  {% endif %}
                  <a class="postArticle-title" href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                </article>
                <div class="block-postMeta">{{ post.chapter }}</div>
              </div>
            </li>
            {% endif %}
          {% endfor %}
      </ul>
        </div> -->
