<nav class="menuWrapper">
  <ul class="popover popover--menu">
    <li class="menu-avatar">
      <a href="{{ site.baseurl }}/" class="exlink menu-login menu-login-icon"><i class="fas fa-home fa-fw"></i></a>
      <!-- <ul class="list list--avatarMenu hidden">
        <li class="list-item"><a class="exlink" href="">Twitter</a></li>
        <li class="list-item"><a class="exlink" href="">LinkedIn</a></li>
        <li class="list-item"><a class="exlink" href="">Quora</a></li>
        <li class="list-item"><a class="exlink" href="">Dribbble</a></li>
        <li class="list-item"><a class="exlink" href="">Kiva</a></li>
      </ul> -->
      <li class="menu-login"> | </li>
    </li>
    <li id="login-status" class="menu-login"><a class="exlink" href="/notLoggedIn">Sign in</a></li>
  </ul>
</nav>
