<nav class="menuWrapper">
  <ul class="popover popover--menu">
    <li class="menu-avatar">
      <a href="{{ site.baseurl }}/" class="menu-login menu-login-icon"><i class="fas fa-home fa-fw"></i></a>
      <!-- <ul class="list list--avatarMenu hidden">
        <li class="list-item"><a href="">Twitter</a></li>
        <li class="list-item"><a href="">LinkedIn</a></li>
        <li class="list-item"><a href="">Quora</a></li>
        <li class="list-item"><a href="">Dribbble</a></li>
        <li class="list-item"><a href="">Kiva</a></li>
      </ul> -->
    </li>
    <li id="login-status" class="menu-login"><a href="/notLoggedIn">Sign in</a></li>
  </ul>
</nav>
