<nav role="navigation" class="sidebar sidebar--right">
  <a href="{{site.baseurl}}/" class="exlink textLogo textLogo--white textLogo--sidebar">{{ site.name }}</a>
  <ul class="sidebar-recentPosts">
    {% assign chapters = site.chapters | sort: "order" %}
    {% for post in chapters %}
      {% if post.title == page.title %}
        <!-- exclude current post -->
      {% else %}
      {% if post.sidebar == true %}
      <li>
        {% if post.image.feature %}
          <a href="{{site.baseurl}}{{ post.url }}" class="exlink sidebar-recentPosts-image-wrapper">
            <img src="{{ post.image.feature | prepend: "/" | prepend: site.baseurl_featured_thumbnail }}" style="" alt="">
          </a>
        {% endif %}
        <a class="exlink" href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
        <div class="postMeta">{{ post.chapter }}</div>
      </li>
      {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
