<div class="container container--content">
    <div>
    </div>
    <ul class="socialAccountList">
        <li>      Share:
        </li>
      <li><a href="https://twitter.com/intent/tweet?text={{ page.title | append: ' by @blairmacintyre @jaybolter @MariaAnnaME' }}&url={{ page.url | prepend: site.baseurl | prepend: site.url | url_encode }}" class="socialAccount socialAccount--twitter" target="_blank"></a></li>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url | url_encode }}" class="socialAccount socialAccount--facebook" target="_blank"></a></li>
      <li><a href="https://www.linkedin.com/sharing/share-offsite/?mini=true&url={{ page.url | prepend: site.baseurl | prepend: site.url | url_encode }}&title={{ page.title }}" class="socialAccount socialAccount--linkedin" target="_blank"></a></li>
        <li><a class="socialAccount socialAccount--hackernews" href="https://news.ycombinator.com/submitlink?u={{ page.url | prepend: site.baseurl | prepend: site.url | url_encode }}&t={{ page.title }}" target="_blank"></a></li>
        <li><a class="socialAccount socialAccount--pocket" href="https://getpocket.com/save?url={{ page.url | prepend: site.baseurl | prepend: site.url | url_encode }}&title={{ page.title }}" target="_blank"></a></li>
  
    </ul>
</div>
