    <div class="socialAccountList">
      <div class="socialAccountPrompt">Share:</div>       
      <a href="https://twitter.com/intent/tweet?text={{ page.title | append: ' by @blairmacintyre @jaybolter @MariaAnnaME' }}&url={{ page.url | prepend: site.baseurl | prepend: site.url | url_encode }}" class="exlink socialAccount socialAccount--twitter" target="_blank"></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url | url_encode }}" class="exlink socialAccount socialAccount--facebook" target="_blank"></a>
      <a href="https://www.linkedin.com/sharing/share-offsite/?mini=true&url={{ page.url | prepend: site.baseurl | prepend: site.url | url_encode }}&title={{ page.title }}" class="exlink socialAccount socialAccount--linkedin" target="_blank"></a>
        <a class="exlink socialAccount socialAccount--hackernews" href="https://news.ycombinator.com/submitlink?u={{ page.url | prepend: site.baseurl | prepend: site.url | url_encode }}&t={{ page.title }}" target="_blank"></a>
        <a class="exlink socialAccount socialAccount--pocket" href="https://getpocket.com/save?url={{ page.url | prepend: site.baseurl | prepend: site.url | url_encode }}&title={{ page.title }}" target="_blank"></a>
  </div>
