// from https://inclusive-components.design/collapsible-sections/

h4 button {
  all: inherit;
  border: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em 0;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4 button svg {
  height: 1em;
  margin-left: 0.5em;
}

[aria-expanded="true"] .vert {
  display: none;
}

[aria-expanded] rect {
  fill: currentColor;
}